<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Crime Beacon</title>
    <link rel="icon" type="image/png" href="/images/logoimage.png" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="terms">
      <h1>About Us</h1>
      <br />
      <h3>Welcome to Crime Beacon, your community monitoring application!</h3>
      <br />

      <p>
        Crime Beacon is dedicated to creating safer and more secure communities
        by allowing users to report incidents and emergencies. Our platform
        connects individuals, law enforcement, and local authorities to ensure
        timely responses to incidents and improve overall community safety.
      </p>
      <br />
      <h3>Our Vision</h3>
      <p>
        At Crime Beacon, we envision a world where communities are resilient and
        united in the face of safety concerns. Our goal is to provide a platform
        that not only reports incidents but fosters a sense of community and
        collaboration.
      </p>
      <br />

      <h3>Our mission</h3>
      <p>
        Our mission is to empower individuals and communities to work together,
        share information, and take action to prevent and respond to safety
        concerns.
      </p>
      <br />
      <h3>Key Features:</h3>
      <ul>
        <li>
          Easy incident reporting: Report incidents quickly and accurately.
        </li>
        <li>
          Community engagement: Join hands with your neighbors to build a safer
          community.
        </li>
        <li>
          Emergency services coordination: Facilitate faster responses from
          local authorities.
        </li>
      </ul>
      <br />
      <p>
        We understand that community safety is a shared responsibility. Crime
        Beacon empowers you to be part of the solution and actively contribute
        to a safer neighborhood.
      </p>
      <br />
      <h3>Get Involved</h3>
      <p>
        Join us in our mission to make our neighborhoods safer. Report the Crime
        in Crime Beacon application and become a vigilant member of your
        community.
      </p>
      <br />
      <p>
        For any questions or feedback, please don't hesitate to
        <a href="/contact">contact us</a>.
      </p>
    </div>
    <div class="lights-container">
      <div class="redlight"></div>
      <div class="bluelight"></div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
