<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us - Crime Beacon</title>
    <link rel="icon" type="image/png" href="/images/logoimage.png" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <%- include('../partials/header'); %>
  <body>
    <div class="terms">
      <h1>Contact Us</h1>
      <br />
      <p>
        If you have any questions, or need to reach out to us, please don't
        hesitate to contact our team. We are here to assist you.
      </p>
      <br />
      <h3>Contact Information</h3>
      <p>You can reach us through the following channels:</p>
      <ul>
        <li>
          Email:
          <a href="mailto:contact@crimebeaconapp.com"
            >contact@crimebeacon.on.ca</a
          >
        </li>
        <li>Phone: +1 (123) 456-7890</li>
      </ul>
      <br />
      <h3>Follow us on Social Media</h3>
      <p>
        Stay connected with Crime Beacon through our social media channels for
        the latest updates and community safety tips:
      </p>
      <ul>
        <li>
          <a href="https://www.facebook.com/crimebeacon" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a href="https://www.twitter.com/crimebeacon" target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/crimebeacon" target="_blank"
            >Instagram</a
          >
        </li>
      </ul>

      <p>
        We look forward to hearing from you and appreciate your support in
        making our communities safer.
      </p>
    </div>
    <div class="lights-container">
      <div class="redlight"></div>
      <div class="bluelight"></div>
    </div>
  </body>
  <%- include('../partials/footer'); %>
</html>
